POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=url_shortener_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_TIMEOUT=10s

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redispassword
REDIS_DB=0
SHORTENER_CACHE_TTL=24h

KAFKA_ADVERTISED_HOST=localhost
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=shortener.link-clicks
KAFKA_BATCH_TIMEOUT=5s
KAFKA_BATCH_SIZE=500

KAFKA_CONSUMER_TOPIC=shortener.link-clicks
KAFKA_CONSUMER_BATCH_SIZE=500
KAFKA_CONSUMER_BATCH_TIMEOUT=5s
KAFKA_CONSUMER_GORUTINES_COUNT=3


LOGGER_LEVEL=Debug
LOGGER_FOLDER=./out

HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
HTTP_ALLOWED_ORIGINS=http://localhost:5050,http://127.0.0.1:5050

CORE_TIME_ZONE=UTC
