POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_TIMEOUT=10s

LOGGER_LEVEL=Debug
LOGGER_FOLDER=./out

HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
HTTP_ALLOWED_ORIGINS=http://localhost:5050,http://127.0.0.1:5050

CORE_TIME_ZONE=UTC
