:80 {
	@shortcode path_regexp ^/[0-9a-zA-Z]{7}$

	handle @shortcode {
		reverse_proxy shortener:5050
	}

	handle /api/* {
		reverse_proxy shortener:5050
	}

	handle {
		reverse_proxy frontend:3000
	}
}
